body{
	background-color: white;
}
#login{
    background-position: center;
	background-size: cover;
	}
#container{
	display:flex;
	justify-content: center;
	align-items: center;
}
#block{
	background-color: white;
	border:  1px solid black;
	height: 65vh;
	width: 65vh;
    text-align: center;
    padding-top: 70px;
    margin: 80px;
    border-radius: 10px;
}
.credentials{
	height: 40px;
	width: 245px;
	border-radius: 8px;
    padding-left: 8px ;
}
.credentials:hover{
	border-color: black;
}
#top{
	padding: 10px 0px 25px 0px;
	font-size: 25px;
	font-weight: 700px;
	font-family: cursive;
}
#bottom{
	padding-bottom: 15px;
}
#button{
	background-color: darkgrey;
	border: 2px solid black;
}
#button:hover{
	color: red;
	background-color: black;
	cursor: e-resize;
    transition-duration: 0.6s;
    transform: scale(1.1);
}
